#
# Thompson's udpProcess service
#
# Apr-2023, Pat Welch, pat@mousebrains.com

[Unit]
Description=UDP monitor

[Service]
# type=simple
User=pat
Group=pat

WorkingDirectory=/home/pat/logs
ReadWritePaths=/home/pat/logs /thompson/share/Data/ship
ReadOnlyPaths=/

ExecStart=/home/pat/ARCTERX2025/Thompson/harperMonitor.py \
	--logfile=/home/pat/logs/harperMonitor.log \
	--navPort=55555 \
	--tsgPort=55777 \
	--rawDir=/home/pat/logs \
	--netCDF=/thompson/share/Data/ship/udp.nc \
	--verbose

Restart=always
RestartSec=60

# Harden
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
