#
# Thompson's udpProcess service
#
# Apr-2023, Pat Welch, pat@mousebrains.com

[Unit]
Description=UDP monitor

[Service]
# type=simple
User=pat
Group=pat

WorkingDirectory=/home/pat/logs
# ReadWritePaths=/home/pat/logs /thompson/share/Data/ship /home/pat/probar /home/pat/Sync/Ship/ship
# ReadOnlyPaths=/

ExecStart=/home/pat/ARCTERX2025/Thompson/harperMonitor.py \
	--logfile=/home/pat/logs/harperMonitor.log \
	--navPort=55555 \
	--tsgPort=55777 \
	--intakePort=55778 \
	--verbose \
	--copyTo=/thompson/share/Data/ship \
	--config=/home/pat/ARCTERX2025/Thompson/udp.yaml \
	--csvFilename=/home/pat/Sync/Ship/ship/ship.csv \
	--csvBatch=60 \
	/home/pat/probar/udp.nc \
	/home/pat/probar/udp.YYYYMMDD.nc

Restart=always
RestartSec=60

# Harden
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
