#
# Extract information from SCS system into a NetCDF file
#
# N.B. This has two components, scs2NC.service and scs2NC.timer
#
# sudo cp scs2NC.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable scs2NC.timer scs2NC.service
# sudo systemctl start scs2NC.timer
#
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=scs2NC data fetch

[Service]
# Launced by timer
Type=oneshot
User=pat
Group=pat
WorkingDirectory=/home/pat/ARCTERX2025/Thompson
#
ExecStart=/home/pat/ARCTERX2025/Thompson/scs2NC.py \
	--logfile=/home/pat/logs/scs2NCs.log \
	--verbose \
	--nc=/home/pat/probar \
	--copyTo=/thompson/share/Data/ship \
	--config=/home/pat/ARCTERX2025/Thompson/scs.yaml \
	/thompson/cruise/scs
        
[Install]
WantedBy=multi-user.target

