#
# Fetch new information for the drifters
#
# N.B. This has two components, Drifter.service and Drifter.timer
#
# sudo cp Drifter.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable Drifter.timer Drifter.service
# sudo systemctl start Drifter.timer
#
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Drifter data fetch

[Service]
# Launced by timer
Type=oneshot
User=pat
WorkingDirectory=/home/pat/ARCTERX2025/Drifters
#
ExecStart=/home/pat/ARCTERX2025/Drifters/fetcher.py \
	--logfile=~/logs/Drifters.log \
	--mailTo="pat@mousebrains.com" \
	--mailSubject="Drifters" \
	--verbose
        
[Install]
WantedBy=multi-user.target

