#
# Fetch drifter positions
#
# N.B. This has two components, Drifter.service and Drifter.timer
#
# sudo cp Drifter.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable Drifter.timer Drifter.service
# sudo systemctl start Drifter.timer
#
# To view the timers:
# 
# sudo systemctl list-timers Drifter
# 
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Fetch drifter fixes

[Timer]
# When the ship is near the drifters, fetch every 5 minutes
# When the ship is not near the drifters, but the gliders are, fetch every hour
# When the gliders are gone, fetch every 12 hours
# dayOfWeek Year-Month-Day Hour:Minute:Second
OnCalendar=*-*-* *:07/10:30
# OnCalendar=*-*-* 00/1:07:30
# OnCalendar=*-*-* 01/6:07:30
# OnCalendar=*-*-* 01/12:07:30
Persistent=true

[Install]
WantedBy=timers.target

